# Dependencias de node_modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Git
.git
.gitignore
